@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Slab', serif;
  color: #444;
  background: #f5f6fa;
  padding: 4%;
}

#root {
  margin: 0;
  padding: 0 0 8%;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 5%);
  background-color: #fafafa;
}

a {
  color: black;
  text-decoration: none;
}

.navBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 40px;
  gap: 40px;
  padding: 24px 4%;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.navTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #0290ff;
}

.navLinks {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  letter-spacing: 1.9px;
  display: flex;
  list-style: none;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  color: #121212;
}

.navLinks li:last-child {
  padding: 0 40px;
}

.navLinks li a {
  opacity: 0.6;
}

.navLinks li a:focus {
  opacity: 1;
}

.navIconBtn {
  cursor: pointer;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  color: #0290ff;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 4%;
}

.allBooks {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.oneBook {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  padding: 32px;
  display: flex;
  justify-content: space-between;
}

.bookInfo {
  width: 267px;
}

.bookCategory {
  font-family: "Montserrat", sans-serif;
  color: #121212;
  opacity: 0.5;
  font-size: 15px;
}

.bookAuthor {
  font-size: 15px;
  font-weight: 300;
  color: #4386bf;
}

.eachActionBtn {
  background-color: transparent;
  border: none;
  color: #4386bf;
  display: inline-block;
  border-right: 2px solid #e8e8e8;
  padding: 0 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 15px;
  cursor: pointer;
  margin: 16px 0;
}

.vertical-divider {
  width: 2px;
  height: 24px;
  background-color: #e8e8e8;
  margin: 0 16px;
}

.eachActionBtn:first-child {
  padding-left: 0;
}

.eachActionBtn:last-child {
  border-right: none;
}

.progressPart {
  display: flex;
  align-items: center;
}

.progressRate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressCircleContainer {
  width: 100px;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressCircle {
  position: absolute;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 5px solid #307bbe;
  border-left-color: #e8e8e8;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.progressStat {
  font-family: "Montserrat", sans-serif;
}

.statAmount {
  font-size: 30px;
}

.progressUpdate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.chapterPart {
  font-weight: 300;
  color: #121212;
}

.chapterLabel {
  font-size: 15px;
  opacity: 0.5;
}

.mainChapter {
  font-size: 14.5px;
  margin-top: 5px;
  letter-spacing: -0.4px;
}

.updateBtn {
  cursor: pointer;
  border: none;
  background-color: #0290ff;
  border-radius: 3px;
  padding: 8px 24px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
}

.progressDivider {
  height: 70px;
  margin: 0 60px 0 80px;
  border-right: 2px solid #e8e8e8;
}

.horizontalDivider {
  height: 2px;
  background-color: #e8e8e8;
  width: 100%;
  margin: 40px 0 30px;
}

/* .formBox {
  padding: 0 30px;
} */

.formTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.18px;
  color: #888;
}

.formBox form {
  display: flex;
  gap: 30px;
  gap: 32px;
  margin-top: 20px;
}

.input {
  font-family: "Montserrat", sans-serif;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  font-size: 16px;
  letter-spacing: -0.15px;
  color: #121212;
}

.input:focus {
  outline: none;
  border: 1px solid #0290ff;
}

.titleInput {
  width: 50%;
}

.authorInput {
  width: 30%;
}

.formButton {
  cursor: pointer;
  width: 20%;
  padding: 12px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}

.categoryContainer {
  padding: 4%;
}

.categoryButton {
  cursor: pointer;
  width: 20%;
  padding: 12px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  margin: 20px 0 0 0;
}
