* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.4;
  color: #444;
  background: #fff;
  height: 100vh;
}

a {
  color: black;
  text-decoration: none;
}

.navBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
}

.navLinks {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinks li {
  display: inline-block;
  border-right: 2px solid black;
  padding: 0 30px;
}

.navLinks li:last-child {
  border-right: none;
}

.allBooks {
  list-style: none;
  margin: 0;
  padding: 50px 30px 50px 30px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.formBox {
  padding: 0 30px;
}

.formBox form {
  display: flex;
  column-gap: 30px;
  row-gap: 30px;
  flex-wrap: wrap;
}
